<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>absolute-sorting.py</string>
		</array>
		<array>
			<string>binary-count.py</string>
		</array>
		<array>
			<string>boolean-algebra.py</string>
		</array>
		<array>
			<string>brackets.py</string>
		</array>
		<array>
			<string>building-base.py</string>
		</array>
		<array>
			<string>common-words.py</string>
		</array>
		<array>
			<string>count-inversions.py</string>
		</array>
		<array>
			<string>days-diff.py</string>
		</array>
		<array>
			<string>digits-multiplication.py</string>
		</array>
		<array>
			<string>end-of-other.py</string>
		</array>
		<array>
			<string>even-last.py</string>
		</array>
		<array>
			<string>find-friends.py</string>
		</array>
		<array>
			<string>fizz-buzz.py</string>
		</array>
		<array>
			<string>flatten-dict.py</string>
		</array>
		<array>
			<string>friends.py</string>
		</array>
		<array>
			<string>house-password.py</string>
		</array>
		<array>
			<string>house_password.py</string>
		</array>
		<array>
			<string>i-love-python.py</string>
		</array>
		<array>
			<string>index-power.py</string>
		</array>
		<array>
			<string>median.py</string>
		</array>
		<array>
			<string>monkey-typing.py</string>
		</array>
		<array>
			<string>moore_neighbourdhood.py</string>
		</array>
		<array>
			<string>most-numbers.py</string>
		</array>
		<array>
			<string>most-wanted-letter.py</string>
		</array>
		<array>
			<string>most_wanted_letter.py</string>
		</array>
		<array>
			<string>non-unique-elements.py</string>
		</array>
		<array>
			<string>non_unique_elements.py</string>
		</array>
		<array>
			<string>number-radix.py</string>
		</array>
		<array>
			<string>pangram.py</string>
		</array>
		<array>
			<string>pawn-brotherhood.py</string>
		</array>
		<array>
			<string>right-to-left.py</string>
		</array>
		<array>
			<string>secret-message.py</string>
		</array>
		<array>
			<string>speechmodule.py</string>
		</array>
		<array>
			<string>striped-words.py</string>
		</array>
		<array>
			<string>test.py</string>
		</array>
		<array>
			<string>three-words.py</string>
		</array>
		<array>
			<string>x-o-referee.py</string>
		</array>
	</array>
</dict>
</plist>
